<!DOCTYPE html>
<html>
<head>
      <title>Coure Managment System</title>
      <link rel="stylesheet" type="text/css" href="./style.css">
      <style>
          table, tr,th, td{
              border: 2px solid black;
              border-collapse: collapse;
              padding: 10px
          }
          table{
            margin: 20px
          }
          th{
            background-color: #d5bdd2
          }
          .lastchild{
            background-color: #9ff2c9;
            color: #043d21;
            text-align: center;
            padding: 20px
          }
      </style>
</head>
<body>
<table >
    <tr>
        <th>Name</th><th>Descriptin</th>
        <th>Start Date</th><th>End Date</th>
        <th>Approximate Duration</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
        {%for c in courses%}
    <tr>
          <td>{{c.name}}</td>
          <td>{{c.discription}}</td>
          <td>{{c.start_date}}</td>
          <td>{{c.end_date}}</td>
          {% load mathfilters %}
          <td>{{c.end_date.month|sub:c.start_date.month }} months</td>
          <td> <a href="edit_course/{{c.id}}" > EDIT</a></td>
          <td> <a href="{{c.id}}/delete/ " > DELETE</a></td>
    </tr>
        {%endfor%}
    <tr>
        <td colspan="7" class="lastchild"> <a href="new" > ADD NEW COURSE</a></td>
    </tr>
</table>

</body>
</html>
